@import "../../theme/palette";

.Counter {
  & {
    position: relative;
    color: $paletteColor7;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -35px;
    width: 30px;
    height: 30px;
    background: url('../../theme/assets/post.png') no-repeat;
    background-size: 30px;
  }
}